site_name: Sapphichat
theme:
  name: material
  favicon: img/favicon.ico
  logo: img/Sapphichat-logo.png
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.expand
nav:
  - Home: index.md
  - Protocol: 
    - ./protocol/index.md
    - ./protocol/endpoints.md
    - ./protocol/error-codes.md
  - License: license.md
  - Contact: contact.md
  - Legal:
    - ./legal/terms.md
    - ./legal/privacy.md
markdown_extensions:
  - admonition